# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build outputs
dist/
coverage/
*.tsbuildinfo

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Tests
*.coverage

# Misc
.tmp/
.*/
!.github/
!.github/workflows/
!.github/workflows/ci.yml

# Technical
.versionrc.json
*.md
!README*.md
!CHANGELOG.md
!*/*.md
